:root {
    --headings-color: #171d53;
    --background-color: #fff;
    --menu-color: #070707;
    --header-background: #fbeafa;
}

body {
    background: var(--background-color);
}

.biz-header {
    background: var(--header-background);
}

.sec-heading,
.menu-price {
    color: var(--headings-color);
}

.menu-title {
    color: var(--menu-color);
}

h1 {
    color: var(--headings-color);
    font-size: 6rem;
}

.biz-header span,
.biz-header .address {
    color: var(--menu-color);
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */

    nav.navbar{
        max-height: 300px;
    }

    div#navbarResponsive {
        height: 250px;
        overflow-y: auto;
        z-index: 99;
    }
}