:root {
    --headings-color: #fff;
    --background-color: #FFF;
    --menu-color: #333;
}

body {
    background: var(--background-color);
}

.menu-logo {
    width: 80%;
    margin: auto;
    display: block;
}

.sec-heading {
    background-color: #D9D9D9;
    color: #333;
    text-align: center;
}

.menu-title {
    color: #333;
    font-size: 18px;
}

.menu-price {
    color: #333;
    font-size: 18px;
}

p.detail{
    color: var(--menu-color);
}

h1 {
    font-size: 6rem;
}

.biz-header span,
.biz-header .address {
    color: var(--menu-color);
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */

    nav.navbar{
        max-height: 300px;
    }

    div#navbarResponsive {
        height: 250px;
        overflow-y: auto;
        z-index: 99;
    }
}