:root {
    --headings-color: #333;
}

.mnu-page h2 {
    text-transform: uppercase;
    position: relative;
    display: inline-block;
}

.mnu-page h2:before {
    content: "";
    width: 100%;
    height: 1px;
    background: var(--headings-color);
    bottom: 0;
    left: 0;
    position: absolute;
}

.mnu-page h2:after {
    content: "";
    width: 100%;
    height: 5px;
    background: var(--headings-color);
    bottom: -7px;
    left: 0;
    position: absolute;
}

.item-img img {
    border-radius: 99em;
    width: 100%;
}

.mnu-detail {
    position: relative;
    padding-top: 4px;
}

.menu-title {
    position: relative;
}

.menu-title,
.menu-price {
    font-size: 18px;
}

.menu-dots {
    height: 10px;
    display: block;
    background: radial-gradient(#333 50%, transparent 10%);
    background-size: 4px 4px;
    background-repeat: repeat-x;
}

.mnu-item h3 {
    position: relative;
}

.menu-desc {
    font-size: 15px;
    color: #666;
}

.biz-header {
    border-bottom: 1px solid #dfdfdf;
    background-image: linear-gradient(124deg, #eeeeee 0%, #f5e3ae 100%);
}

.biz-header span {
    font-size: 1.2rem;
    color: #898989;
}

.menu_section {
    background-color: #fff;
    background-image: url("../img/foodback.png");
    background-size: cover;
    border: 3px solid #dfdfdf;
    position: relative;
    width: 100%;
    display: inline-block;
    float: none;
    border-radius: 4px;
}
